@{
    ViewBag.Title = "About";
}
<div class="intro container" style="padding-top:60px;">
    <div class="row">
        <div class="col-sm-4">
            <div class="img-circle">
                <img src="~/profile.jpg" width="100%" />
            </div>
        </div>
        <div class="col-sm-8">
            <p>
                I started livestreaming gameplay in 2012 and has since been a real fool tryin to earn that twitch coin.
            </p>
            <p>
                The name JimBaub comes from the name JimBob being taken when I was making my XBox Gamerag.
            </p>
            <p>
                I achieved twitch affiliate in May 2020 in the midst of the plague era.
            </p>
            <p>
                In real life I a real bad Games dev student currently on placement.
            </p>
        </div>
    </div>
</div>
