@{
    ViewBag.Title = "About";
}
<div class="intro">
    <div class="col-4">
        <div class="img-circle">
            <img src="~/profile.jpg" />
        </div>
     </div>
    <div class="col-8">

    </div>
</div>
