@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">Welcome! This website is the home of JimBaub on the internet</p>
        <!-- Add a placeholder for the Twitch embed -->
        <div id="twitch-embed" width="100%"></div>
        <p><a href="https://twitch.tv/JimBaub" class="btn btn-primary btn-lg">Visit Twitch Channel &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Twitter</h2>
        <p>
            I'm on Twitter! Come @@ me bro 
        </p>
        <p><a class="btn btn-default" href="https://twitter.com/TwitchJimBaub">Tweet Tweet &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discord</h2>
        <p>Come join the Discord community! It's the best place to reach me.</p>
        <p><a class="btn btn-default" href="https://discord.gg/gXUv7e">Let's Chat &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Merch!</h2>
        <p>I only have liek 3 designs. But you can get some merch here</p>
        <p class="btn btn-default">@Html.ActionLink("Get it here! &raquo;","Store")</pclass="btn>
    </div>
</div>